<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Advanced React</title>
  </head>
  <body>
    <h2>Hello from Express and Ejs</h2>
    <p><%= answer %></p>
  </body>
</html>
